<h1>Invoice #<%= @invoice.id %></h1>
<div id="status-update-<%= @invoice.id %>">
  <strong>Status: </strong>
  <%= form_with model: [:admin, @invoice], local: true do |f| %>
    <%= f.select :status, [["In Progress", :in_progress], ["Completed", :completed], ["Cancelled", :cancelled]] %>
    <%= f.submit %>
  <% end %>
</div>
<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>Total Revenue: <%= price_convert(@invoice.total_revenue) %></p>
<p><strong>Items on Invoice:</strong></p>
<table class="invoice_items">
  <tr>
  <th>Item</th><th>Quantity Sold</th><th>Price Sold</th><th>Item Status</th>
  </tr>
  <% @invoice.invoice_items.each do |i| %>
    <tr>
      <td><%= i.item.name %></td>
      <td><%= i.quantity %></td>
      <td><%= price_convert(i.unit_price) %></td>
      <td><%= i.status.titleize%></td>
    </tr>
  <% end %>
</table>