<h1>Invoice #<%= @invoice.id %></h1>

<strong>Status: </strong>
  <section id="status-update-<%= @invoice.id %>">
    <%= form_with model: [:admin, @invoice], local: true do |f| %>
      <%= f.select :status, [["In Progress", :in_progress], ["Completed", :completed], ["Cancelled", :cancelled]] %>
      <%= f.submit %>
    <% end %>
  </section>

<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %>
<p>Total Revenue: <%= price_convert(@invoice.total_revenue) %></p>

<strong>Items on Invoice</strong>
<br>
  <% @invoice.invoice_items.each do |i| %>
    <tr>
      <td><%= i.item.name %></td>
      <td><%= i.quantity %></td>
      <td><%= price_convert(i.unit_price) %></td>
      <td><%= i.status%></td><br/>
    </tr>
  <% end %>
