<h2 class="subtitle"><%=@merchant.name%> Edit Page</h2>

<%= form_with url: "/admin/merchants/#{@merchant.id}", method: :patch, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: @merchant.name %>

  <%= f.submit "Update merchant" %>

  <% end %>
