<%= render partial: '/merchants/merchants-nav', locals: {merchant: @merchant} %>

<h2 class="subtitle"><%= @bulk_discount.name %> Edit Page</h2>

<strong id="edit_bulk_discount"><%= form_with model: [:merchant, @bulk_discount], local: true do |f| %>
  <p><%= f.label :name, "Update Bulk Discount Name" %>
     <%= f.text_field :name%></p>

  <p><%= f.label :threshold, "Update Bulk Discount Threshold" %>
     <%= f.text_field :threshold %></p>

  <p><%= f.label :percentage, "Update Bulk Discount Percentage" %>
     <%= f.text_field :percentage %></p>

     <%= f.submit "Update Bulk Discount" %>

    <% end %>
</strong>
