<%= render partial: '/merchants/merchants-nav', locals: {merchant: @merchant} %>
<div class="bulk_disc_link">
  <%= link_to "New Bulk Discount", new_merchant_bulk_discount_path(@merchant.id) %>
</div>

<h2 class="subtitle">Bulk Discounts for <%= @merchant.name %></h2>

<div class="index_column">
  <ul id="bulk_discount_list">
    <% @bulk_discounts.each do |discount| %>
      <li id="bulk_discount_<%= discount.id %>"> 
        <%= link_to discount.name, merchant_bulk_discount_path(@merchant.id, discount.id) %> is a discount of
        <%= discount.percentage %>% when
        <%= discount.threshold %> or more items are perchased.
      </li>
    <% end %>
  </ul>
</div>