<%= render partial: '/merchants/merchants-nav', locals: {merchant: @merchant} %>

<h2 class="subtitle">Bulk Discount Information Page</h2>

<div class="index_invoice" id="bulk_discount_<%= @bulk_discount.id %>"> 
  <%= link_to "Edit #{@bulk_discount.name}", edit_merchant_bulk_discount_path(@merchant.id, @bulk_discount.id) %>
</div>

<div class="inv_info"><strong><%= @bulk_discount.name %>:</strong></div>
  <table class="invoice_items" id="merchant_bulk_discount">
    <tr>
      <th>Discount Threshold</th>
      <th>Discount Percentage</th>
    </tr>

    <tr id="bulk_discount_<%= @bulk_discount.id %>">
      <td><%= @bulk_discount.threshold %></td>
      <td><%= @bulk_discount.percentage %></td>
    </tr>
  </table>
</div>